@media(min-width: 759px){
    
    html{
        
        font-size: 16px;
        font-family: "DM Sans", sans-serif;
        
        body{
            
            &>header{
                
                padding: 3vh 15vw;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                box-shadow: 3px 3px 5px $lightGrey;
                
                &>figure{
                    
                    &>img{
                        
                        max-height: 2.5vh;
                    }
                    
                    &>figcaption{
                        
                        display: none;
                    }
                }
                
                &>h1{
                    
                    display: none;
                }
                
                &>nav{
                    
                    &>h2{
                        
                        display: none;
                    }
                    
                    &>ul{
                        
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        
                        &>li{
                            
                            &>a{
                                
                                text-decoration: none;
                                text-transform: uppercase;
                                font-size: 1.1rem;
                                font-weight: bold;
                                color: $black;
                                
                                &.active{
                                    
                                    border-bottom: solid 3px $red;
                                }
                            }
                        }
                    }
                    
                    &#header-nav{
                        
                        &>ul{
                            
                            &>li{
                                
                                margin-right: 4vw;
                                
                                &>a:hover{
                                    
                                    border-bottom: solid 3px $red;
                                }
                            }
                        }
                        
                    }
                    
                    &#header-search-rs-nav{
                        
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        
                        &>ul{
                            
                            &:first-of-type{
                                
                                padding: 0 2vw;
                                border-right: solid 1px $lightGrey;
                            }
                            
                            &>li{
                                
                                margin-left: 2vw;
                            }
                        }
                    }
                }
            }
            
            &>footer{
                
                padding: 0 15vw;
                
                &>section{
                    
                    padding-top: 5vh;
                    
                    &>h2{
                        
                        display: none;
                    }
                }
                
                &>#instagram-caroussel{
                    
                    &>ul{
                        
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        
                        &>li{
                            
                            background-size: cover;
                            background-repeat: no-repeat;
                            height: 20vh;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            
                            &#instagram-1{
                                
                                background-image: url('../../img/instagram/1.png');
                            }
                            
                            &#instagram-2{
                                
                                background-image: url('../../img/instagram/2.png');
                            }
                            
                            &#instagram-3{
                                
                                background-image: url('../../img/instagram/3.png');
                            }
                            
                            &#instagram-4{
                                
                                background-image: url('../../img/instagram/4.png');
                            }
                            
                            &#instagram-5{
                                
                                background-image: url('../../img/instagram/5.png');
                            }
                            
                            a{
                                
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                text-decoration: none;
                                color: $white;
                                font-size: 1.1rem;
                                font-weight: bold;
                            }
                        }
                    }
                }
                
                &>#informations{
                    
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-column-gap: 1.5vw;
                    grid-row-gap: 2vh;
                    
                    &>section{
                        
                        &>h3{
                                
                            font-size: 1.2rem;
                            font-weight: bold;
                            text-transform: uppercase;
                            margin-bottom: 3vh;
                            
                        }
                        
                        &>p{
                            
                            line-height: 1.5;
                            font-size: 1.2rem;
                            margin: 3vh 0;
                        }
                        
                        &#about-us{
                            
                            grid-column: 1/2;
                        }
                        
                        &#feature-posts{
                            
                            grid-column: 2/3;
                            
                            &>.featured-post{
                            
                            margin-bottom: 2vh;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            
                                a{
                                    
                                    text-decoration: none;
                                    color: $black;
                                }
                            
                                &>header{
                                    
                                    &>figure{
                                        
                                        &>img{
                                            
                                        }
                                        
                                        &>figcaption{
                                            
                                            display: none;
                                        }
                                    }
                                }
                            
                                &>section{
                                    
                                    display: flex;
                                    flex-direction: column;
                                    padding: 1vh 1.5vw;
                                    
                                    &>h4{
                                        
                                        font-weight: bold;
                                        font-size: 1.1rem;
                                        text-transform: capitalize;
                                        margin-bottom: 1vh;
                                    }
                                    
                                    &>ul{
                                        
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        
                                        &>li{
                                            
                                            margin-right: 1vw;
                                            
                                            &>span{
                                                
                                                color: $red;
                                            }
                                        }
                                    }
                                    
                                    &>a{
                                        
                                        border-bottom: solid 3px $red;
                                        text-transform: uppercase;
                                    }
                                }
                            }
                        }
                        
                        &#tag-clouds{
                            
                            grid-column: 3/4;
                        }
                        
                        &#follow-us{
                            
                            grid-column: 3/4;
                        }
                    }
                }
                
                &>#copyright{
                    
                    text-align: center;
                    padding: 2vh 0;
                    border-top: solid 1px $lightGrey;
                }
            }
            
            &#home{
                
                &>main{
                    
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    grid-column-gap: 3vw;
                    padding: 5vh 0;
                    width: 70vw;
                    margin: auto;
                    
                    &>#latest-posts{
                        
                        grid-column: 1/2;
                        
                        &>h3{
                            
                            display: none;
                        }
                        
                        &>.latest-post{
                            
                            margin-bottom: 5vh;
                            
                            a{
                                
                                text-decoration: none;
                                color: $black;
                            }
                            
                            &>header{
                                
                                &>figure{
                                            
                                            width: 100%;
                                        
                                        &>img{
                                            
                                            width: 100%;
                                            border-radius: 5px;
                                        }
                                        
                                        &>audio{
                                            
                                            width: 100%;
                                        }
                                        
                                        &>video{
                                            
                                            width: 100%;
                                            border-radius: 5px;
                                        }
                                        
                                        &>figcaption{
                                            
                                            display: none;
                                        }
                                }
                                
                                &>a{
                                    
                                    display: flex;
                                    flex-direction: row;
                                    
                                    &>figure{
                                            
                                            width: 100%;
                                        
                                        &>img{
                                            
                                            width: 100%;
                                            border-radius: 5px;
                                        }
                                        
                                        &>figcaption{
                                            
                                            display: none;
                                        }
                                    }
                                }
                                
                                &>h4{
                                    
                                    display: none;
                                }
                            }
                            
                            &>section{
                                
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                padding: 1vh 1.5vw;

                                &>h5{
                                    
                                    font-weight: bold;
                                    font-size: .7rem;
                                    text-transform: uppercase;
                                    border-bottom: solid 6px $red;
                                    margin-bottom: 3vh;
                                }
                                
                                &>h4{
                                    
                                    font-weight: bold;
                                    font-size: 1.9rem;
                                    text-transform: capitalize;
                                    margin-bottom: 3vh;
                                }
                                
                                &>ul{
                                    
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    
                                    &>li{
                                        
                                        margin-right: 1vw;
                                        
                                        &>span{
                                            
                                            color: $red;
                                        }
                                    }
                                }
                                
                                &>p{
                                    
                                    line-height: 1.5;
                                    font-size: 1.2rem;
                                    text-align: center;
                                    margin: 3vh 0;
                                }
                                
                                &>a{
                                    
                                    border-bottom: solid 3px $red;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                    
                    &>aside{
                        
                        grid-column: 2/3;
                        
                        &>h2{
                            
                            display: none;
                        }
                        
                        &>#categories{
                            
                            margin-bottom: 3vh;
                            
                            &>h3{
                                
                                font-size: 1.2rem;
                                font-weight: bold;
                                text-transform: uppercase;
                                margin-bottom: 3vh;
                            }
                            
                            &>nav{
                                
                                &>h4{
                                    
                                    display: none;
                                }
                                
                                &>ul{
                                    
                                    &>li{
                                        
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        padding: 3vh 2vw;
                                        margin-bottom: 1vw;
                                        border-radius: 5px;

                                        &#design-category{
                                            
                                            background-image: url('../../img/backgrounds/category-1.png');
                                        }
                                        
                                        &#graphic-category{
                                            
                                            background-image: url('../../img/backgrounds/category-2.png');
                                        }
                                        
                                        &#illustrator-category{
                                            
                                            background-image: url('../../img/backgrounds/category-3.png');
                                        }
                                        
                                        &#typography-category{
                                            
                                            background-image: url('../../img/backgrounds/category-4.png');
                                        }
                                            
                                        &>a{
                                            
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: space-between;
                                            align-items: center;
                                            text-decoration: none;
                                            
                                            &>h5{
                                                
                                            font-weight: bold;
                                            text-transform: uppercase;
                                            font-size: 1.1rem;
                                            color: $white;
                                            }
                                            
                                            &>p{
                                                
                                                padding: 1vh 1vw;
                                                background-color: $lightGrey;
                                                font-weight: bold;
                                                font-size: 1.1rem;
                                                border-radius: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                        &>#trending-posts{
                            
                            margin-bottom: 3vh;
                            
                            &>h3{
                                
                                font-size: 1.2rem;
                                font-weight: bold;
                                text-transform: uppercase;
                                margin-bottom: 3vh;
                            }
                            
                            &>.trending-post{
                            
                            margin-bottom: 3vh;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            
                                a{
                                    
                                    text-decoration: none;
                                    color: $black;
                                }
                            
                                &>header{
                                    
                                    &>figure{
                                        
                                        &>img{
                                            
                                        }
                                        
                                        &>figcaption{
                                            
                                            display: none;
                                        }
                                    }
                                    
                                    &>h5{
                                        
                                        position: absolute;
                                        padding: 1vh 1vw;
                                        background-color: $black;
                                        color: $white;
                                        font-weight: bold;
                                        font-size: .8rem;
                                        border-radius: 20px;
                                    }
                                }
                            
                                &>section{
                                    
                                    display: flex;
                                    flex-direction: column;
                                    padding: 1vh 1.5vw;
    
                                    &>h5{
                                        
                                        font-weight: bold;
                                        font-size: .7rem;
                                        text-transform: uppercase;
                                        border-bottom: solid 6px $red;
                                        margin-bottom: 1vh;
                                        max-width: fit-content;
                                    }
                                    
                                    &>h4{
                                        
                                        font-weight: bold;
                                        font-size: 1.1rem;
                                        text-transform: capitalize;
                                        margin-bottom: 1vh;
                                    }
                                    
                                    &>ul{
                                        
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        
                                        &>li{
                                            
                                            margin-right: 1vw;
                                            
                                            &>span{
                                                
                                                color: $red;
                                            }
                                        }
                                    }
                                    
                                    &>a{
                                        
                                        border-bottom: solid 3px $red;
                                        text-transform: uppercase;
                                    }
                                }
                            }
                            
                        }
                        
                        &>#subscription{
                            
                            background-color: $lightGrey;
                            border-radius: 5px;
                            padding: 5vh 5vw;
                            text-align: left;
                            
                            &>h3{
                                
                                font-size: 1.2rem;
                                font-weight: bold;
                                text-transform: uppercase;
                                margin-bottom: 3vh;
                            }
                            
                            &>p{
                                    
                                line-height: 1.5;
                                font-size: 1.2rem;
                                margin: 3vh 0;
                            }
                            
                            &>form{
                                
                                &>fieldset{
                                    
                                    width: 100%;
                                    
                                    &>label{
                                        
                                        display: none;
                                    }
                                    
                                    &>input{
                                        
                                        padding: 2vh 1vw;
                                        border-radius: 3px;
                                        margin-top: 2vh;
                                        width: 100%;
                                    }
                                    
                                        
                                    &:first-of-type{
                                        
                                        &>input{
                                            
                                            border: solid 1px $lightGrey;
                                            max-width: 100%;
                                        }
                                        
                                    }
                                    
                                    &:last-of-type{
                                        
                                        &>input{
                                            
                                            border: none;
                                            background-color: $red;
                                            color: $white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
            
            &#single-list{
                
            }
            
            &#single{
                
            }
        }
    }
}